---
import Baselayout from './Baselayout.astro';

const { post } = Astro.props;
const { title, pubDate, description, update } = post.data;

const formatDate = (date: Date) => {
  return date
    .toLocaleDateString('zh-CN', {
      year: 'numeric',
      month: '2-digit',
      day: '2-digit',
    })
    .replace(/\//g, '.');
};
---

<Baselayout>
  <article
    class="prose prose-neutral dark:prose-invert leading-relaxed tracking-tight
    /* 标题字号 */
    prose-h1:text-2xl
    prose-h2:text-xl prose-h2:mt-10 prose-h2:mb-4
    prose-h3:text-lg prose-h3:mt-8 prose-h3:mb-2 prose-h3:font-semibold
    /* 段落间距 */
    prose-p:my-4
    /* 引用 */
    prose-blockquote:text-neutral-500 prose-blockquote:not-italic prose-blockquote:border-l-2 prose-blockquote:font-normal
    /* 列表 */
    prose-li:my-1"
  >
    <h1>{title}</h1>
    <time
      class="text-xs sm:text-sm text-muted-foreground/70"
      datetime={pubDate.toISOString()}>{formatDate(pubDate)}</time
    >
    {
      description && (
        <p class=" text-neutral-500 border-l-2 border-primary/20 pl-4 py-1">
          {description}
        </p>
      )
    }
    <slot />
  </article>
  <div class="mt-20 border-t border-dashed pt-6 space-y-6">
    <div
      class="flex items-center gap-2 text-xs font-mono text-muted-foreground/60 tracking-wider"
    >
      <span class="h-1.5 w-1.5 rounded-full bg-emerald-500/50"></span>
      最后修订: {formatDate(update || pubDate)}
    </div>
    <div class="text-[13px] text-muted-foreground/60 leading-relaxed font-sans">
      <p class="flex flex-wrap items-center gap-x-2 gap-y-1">
        <span class="font-medium text-foreground/70">内容许可：</span>
        <a
          href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh-hans"
          rel="license noopener noreferrer"
          target="_blank"
          class="underline underline-offset-4 decoration-border hover:text-primary hover:decoration-primary transition-colors"
        >
          署名 - 非商业性使用 - 禁止演绎 (CC BY-NC-ND 4.0)
        </a>
      </p>
      <p class="mt-1 text-[12px] opacity-80">
        在完整保留署名及出处的前提下，欢迎自由转载。
      </p>
    </div>
  </div>
</Baselayout>
