---
import Baselayout from './Baselayout.astro';

const { post } = Astro.props;
const { title, pubDate, description, update } = post.data;

const formatDate = (date: Date) => {
  return date
    .toLocaleDateString('zh-CN', {
      year: 'numeric',
      month: '2-digit',
      day: '2-digit',
    })
    .replace(/\//g, '.');
};
---

<Baselayout>
  <article class="prose prose-neutral dark:prose-invert">
    <h1>{title}</h1>
    <time
      class="text-xs sm:text-sm text-muted-foreground/70"
      datetime={pubDate.toISOString()}>{formatDate(pubDate)}</time
    >
    {
      description && (
        <p class=" text-muted-foreground italic border-l-4 border-primary/20 pl-4 py-1">
          {description}
        </p>
      )
    }
    <slot />
  </article>
  <div class="mt-20 space-y-8">
    <div
      class="flex flex-col sm:flex-row sm:items-center justify-between gap-4 text-xs font-mono text-muted-foreground/70 border-t border-dashed pt-6"
    >
      <div class="flex items-center gap-2">
        <span class="h-1.5 w-1.5 rounded-full bg-emerald-500/50"></span>
        LAST REVISION: {formatDate(update || pubDate)}
      </div>
    </div>
  </div>
</Baselayout>
